html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit';
    font-size: 1.6rem;
}

$color-blue: #0ab7fa;
$color-gray: #7a7a7a;
$color-white: #fff;
$color-black: #000;
$font-bold-pc: 600;
$font-size-bold: 2.2rem;

.astronomy-home{
    width: 100%;
    height: 3450px;
    background-color: $color-black;
    &__tabnav{
        width: 100%;
        height: 6rem;
        background-color: #000;
        display: flex;
        position: fixed;
        align-items: center;
        z-index: 5;
        
    }

    &__logo{
        padding-left: 10rem;
        padding-bottom: 1rem;
        object-fit: cover;
        width: 20%;
    }

    &__numberlives{
        color: white;
        font-size: 1.2rem;
        padding-left: 2rem;
        width: 8rem;
    }

    &__tabchild{
        justify-content: space-between;
        margin-left: 5rem;
        margin-right: 4rem;
    }

    &__menuPlanets{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-first{
                opacity: 100;
                visibility: visible;
                display: block;
            }
        }

        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                height: 4px;
                opacity: 1;
                visibility: visible;
                bottom: 0;
                right: 0;
                display: block;
            }
        }
    }

    &__text{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        cursor: pointer;
        position: relative;
        z-index: 2;

        
        &::before{
            content: "";
            position: absolute;
            transition: all 0.5s linear;
            width: 0%;
            height: 4px;
            background-color: $color-blue;
            bottom: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            display: block;
        }
    }
    

    &__menu-first{
        z-index: 2;
        cursor: pointer;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 5rem;
            background-color: transparent;
        }
    }
    
    &__menu-first-Planets{
        width: 180px;
        list-style-type: none;
        background-color: rgb(255, 255, 255);
        box-shadow: rgb(36 36 36) 3px 3px 12px;
        position: absolute;
        top: 5rem;
        left: 0px;
    }
    
    &__menu-item-Planets{
        color: rgb(160, 160, 160);
        border-bottom: 3px solid rgb(160, 160, 160);
        font-size: 2.2rem;
        padding: 1rem 0px 1rem 2rem;
        width: 18rem;
        border-left: 0px solid transparent;
        transition: all 0.25s linear 0s;
        &:hover{
            border-left: 5px solid $color-blue;
            height: 100%;
        }
    }

    &__menuEvents{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-seconds{
                display: block;
                opacity: 100%;
                visibility: visible;
            }
        }
        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                height: 4px;
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }
    }

    &__menu-seconds{
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        z-index: 2;
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 6rem;
            background-color: transparent;
            top: 100%;
            width: 100%;
            right: 0;
        }
    }
    &__menu-seconds-events{
        width: 280px;
        list-style-type: none;
        background-color: rgb(255, 255, 255);
        box-shadow: rgb(36 36 36) 3px 3px 12px;
        position: absolute;
        top: 5rem;
        left: 0px;
    }
    
    &__menu-item-events{
        color: rgb(160, 160, 160);
        border-bottom: 3px solid rgb(160, 160, 160);
        font-size: 2.2rem;
        padding: 1rem 0px 1rem 2rem;
        width: 28rem;
        border-left: 0px solid transparent;
        transition: all 0.25s linear 0s;
        cursor: pointer;
        &:hover{
            border-left: 5px solid $color-blue;
        }
    }

    &__EclipseLink{
        text-decoration: none;
        color: #a0a0a0;
    }
    

    &__bigbangeLink{
        text-decoration: none;
        color: #a0a0a0;
    }

    &__EvolvedLink{
        text-decoration: none;
        color: #a0a0a0;
    }
    &__menuMore{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-three{
                display: block;
                opacity: 100%;
                visibility: visible;
            }
        }

        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                opacity: 1;
                height: 4px;
                visibility: visible;
                display: block;
            }
        }
    }

    &__menu-three{
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        z-index: 2;
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 6rem;
            background-color: transparent;
        }
    }

    &__menu-three-more{
        width: 200px;
        list-style-type: none;
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 12px #242424;
        position: absolute;
        top: 5rem;
        left: 0px;
    }

    &__menu-item-more{
        color: #a0a0a0;
        border-bottom: 3px solid #a0a0a0;
        font-size: 2.2rem;
        padding: 1rem 0px 1rem 2rem;
        width: 20rem;
        border-left: 0px solid transparent;
        transition: all 0.25s linear;
        cursor: pointer;
        &:hover{
            border-left: 5px solid $color-blue;
        }
    }

    &__menuAbout{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-four{
                display: block;
                opacity: 100;
                visibility: visible;
            }
        }
        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                height: 4px;
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }
    }

    &__menu-four{
        z-index: 2;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 6rem;
            background-color: transparent;
        }
    }
    
    &__menu-four-about{
        position: absolute;
        list-style-type: none;
        background-color: rgba(255, 255, 255);
        box-shadow: 3px 3px 12px #242424;
        position: absolute;
        top: 8rem;
        right: 0;
    }

    &__menu-item-about{
        color: #a0a0a0;
        background-color: white;
        list-style-type: none;
        border-bottom: 2px solid #a0a0a0;
        font-size: 2.5rem;
        border-left: 5px solid transparent;
        transition: all 0.25s linear;
        padding: 1rem 0 1rem 3rem;
        width: 20rem;
        cursor: pointer;
        &:hover{
            border-left: 5px solid $color-blue;
        }
    }

    &__time-lives{
        color: white;
        margin-left: 5rem;
        font-size: 1.6rem;
    }

    &__menu-child{
        display: none;
    }
    
    &__icon-menu{
        color: $color-white;
        font-size: 2rem;
    }

}

.banner{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;

    &-img{
        width: 1600px;
        height: 500px;
        position: relative;

        &__slider{
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }


    &-title__text{
        position: absolute;
        font-size: 3.2rem;
        color: $color-white;
        font-weight: 600;
        top: 50%;
        left: 4%;
        transform: translate(-4%, -50%);
        padding: 16px 70px;
        background-color: rgba($color-black, $alpha: 0.5);
    }


}

.post{

    &-Evolve{
        margin-bottom: 8rem;
    }

    &-img__title{
        width: 800px;
        margin: 0 auto;
    }

    &-title__img{
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 5rem;
        box-shadow: 5px 10px 18px #888888;
    }


    &-title{

        margin-bottom: 5rem;

        &__post{
            color: $color-white;
            font-size: 4rem;
            font-weight: 400;
        }
    }



    &__gif-1{
        width: 450px;
    }

    &-gif{
        width: 100%;
        border-radius: 5rem;
        overflow: hidden;
        object-fit: cover;
        box-shadow: 5px 10px 18px #888888;
    }


    &__title-1{
        
    }

    &-title-1{
        color: $color-white;
        font-size: 2.2rem;
        font-weight: 300;
    }

    &-of-3{
        width: 500px;
        margin-top: 5rem;
    }

    &-img-3{
        width: 100%;
    }

}

.news-more{
    width: 60%;
    height: 300px;
    border-radius: 5rem;
    margin: 0 auto;

    &__title{
        color: $color-blue;
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        
    }

    &__news{
        width: 80%;
        height: 100%;
        position: relative;
        margin: 0 auto;
    }
    
    &__swiper{
        position: absolute;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }


      .swiper-slide {
        text-align: center;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      
      &__img-slider{
          width: 150px;
          height: 150px;
          transition: all 0.25s linear;
          
          &:hover{
            transform: scale(1.1);
        }
    }
    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

      &__desc{
        color: $color-white;
        font-size: 2.2rem;
      }

      .swiper-pagination-bullet{
        background-color: white;
      }

      .swiper-pagination-bullet-active{
        background-color: #0ab7fa;
      }
      .swiper-button-prev{
        left: -30px;
        z-index: 1;
      }
      .swiper-button-next{
          right: -30px;
          z-index: 1;
      }


}

.footer{
    margin-top: 6rem;
    width: 100%;

    &__bg{
        width: 100%;
        height: 400px;
        object-fit: cover;
        overflow: hidden;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba($color-black, $alpha: 0.5);
        }
    }

    &-img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
    }

    &-icon{
        margin-top: 1rem;
    }
    
    &__icon-phone {
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.2rem;
        margin-top: 1rem;
        border-right: none
    }

    &__icon-times{
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.2rem;
        border-right: none
    }

    &__icon-address{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.2rem;
    }

    &_information{
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        width: 100%;
        transform: translateY(-50%);

    }
}


.map{
    width: 100%;
    height: 200px;
    &__address{
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    &__img{
        width: 100%;
        height: 200px;
    }
}


// responsive mobile

@media only screen and (max-width: 46.1875em) {
    .astronomy-home{
        height: 3400px;
        &__tabchild{
            display: none;
        }

        &__logo{
            padding-left: 2rem;
            padding-bottom: 0.5rem;
            width: 35%;
        }

        &__time-lives{
            display: none;
        }

        &__menu-child{
            display: block;
            margin-left: auto;
            margin-right: 2rem;
        }
    }

    .banner{
    
        &-img{
            width: 500px;
            height: 250px;
    
            &__slider{
                width: 100%;
                object-fit: cover;
                overflow: hidden;
                object-position: center;
            }
        }
    
    }

}


.post{
    &-title__post{
        font-size: 2rem;
        text-align: center;
    }

    &-img__title{
        width: 320px;
        margin: 0 auto;
    }

    &-title__img{
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 5rem;
        box-shadow: 5px 4px 6px #888888;;
    }

    &-title__post{
        font-size: 2.2rem;
    }
}