* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Kanit" !important;
  }
  
  /* .nav-overlay{
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
  } */
  
  #progress {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    z-index: 100;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  #progress-value {
    display: block;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #001a2e;
  }
  
  .astronomy-home {
    width: 100%;
    height: 3800px;
    background-color: #000;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  input#nav-res-input {
    display: none;
  }
  
  .nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
  }
  
  #header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    background-color: black;
  }
  
  .header-res {
    transition: transform linear 0.2s;
    display: none;
    transform: translateX(100%);
    right: 0rem;
    position: fixed;
    top: 0rem;
    bottom: 0;
    width: 16rem;
    max-width: 100%;
    background-color: #fff;
  }
  
  #nav-res {
    color: #000;
    font-size: 1.4rem;
    margin-left: 0.5rem;
    margin-top: 3rem;
  }
  
  .subnav-res {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
  }
  
  #icon-res {
    top: 0.5rem;
    color: #666;
    position: absolute;
    font-size: 1.4rem;
    left: 0.5rem;
  }
  
  i#icon-mobile {
    display: none;
  }
  
  #logo_img {
    position: absolute;
    margin-left: 20px;
  }
  
  #nav, .subnav {
    list-style-type: none;
  }
  
  ul#nav {
    position: absolute;
    margin-left: 280px;
    margin-top: 0px;
    top: 0;
    height: 58px;
  }
  
  #nav > li {
    display: inline-block;
  }
  
  #nav li {
    position: relative;
  }
  
  #nav > li > a {
    color: #fff;
    text-transform: uppercase;
  }
  
  #nav li a {
    text-decoration: none;
    line-height: 74px;
    padding: 0px 50px;
    font-size: 20px;
    display: block;
  }
  
  li.astronomy-home__time-lives {
    color: white;
  }
  
  li.astronomy-home__numberlives {
    color: white;
  }
  
  #nav li:hover .subnav {
    display: block;
  }
  
  #nav .subnav li:hover a,
  #nav > li:hover > a {
    color: #000;
    background-color: rgb(207, 207, 207);
  }
  
  #nav .subnav {
    text-align: center;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  #nav .subnav a {
    color: #000;
    padding: 0 10px;
    line-height: 50px;
  }

  .main-content{
   
  }
  
  .slider {
    height: 850px;
  }
  
  #img_planet {
    width: 100%;
    margin-bottom: -5px;
  }
  
  #planet_name {
    margin-top: -700px;
    padding-left: 90px;
    font-size: 60px;
    color: bisque;
  }
  
  p#text_planet {
    width: 35%;
    margin-bottom: 30px;
    margin-top: 10px;
    line-height: 35px;
    font-size: 20px;
    color: #fff;
  }
  
  #btn_planet a {
    color: #000;
    padding: 0 34px;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
  }
  
  button#btn_planet {
    border-radius: 20px;
  }
  
  .planet_info {
    margin-top: -130px;
    margin-left: 880px;
  }
  
  .planet_info th {
    display: inline-block;
    padding-bottom: 12px;
  }
  
  .planet_info td {
    padding-left: 20px;
    color: #fff;
  }
  
  .planet_distance {
    margin-top: 80px;
    margin-left: 80px;
    color: #fff;
  }
  
  .planet_distance th {
    padding-right: 180px;
    padding-bottom: 20px;
  }
  
  .planet_distance td {
    font-size: 40px;
  }
  
  .planet_distance td small {
    padding-left: 8px;
    font-size: 25px;
  }
  
  .content {
    padding-top: 90px;
    height: 930px;
    background-color: #000;
  }
  
  h2#title-planet-name {
    color: #fff;
    font-size: 4rem;
  }
  
  div.explo-planet {
    justify-content: center;
    display: flex;
    height: 400px;
  }
  
  .explo-planet #img-nasa {
    margin-top: 20px;
    width: 36%;
  }
  
  .explo-planet .text-explo {
    margin-right: 80px;
    width: 40%;
  }
  
  .text-explo .text-pln-nasa {
    padding-top: 20px;
    line-height: 25px;
    font-size: 20px;
    color: #fff;
  }

  .time-navbar {
    color: #fff;
    line-height: 35px;
  }
  

  /*content*/
  .text-content{
    text-align: center;
    line-height: 35px;
  }

  .sub-content {
    opacity: 0.6;
    font-style: italic;
  }
  .content-add {
    /* height: 1150px; */
    background-color: #000;
  }
  
  .btn-light a {
    color: #000;
  }
  .btn-light:hover a {
    color: #0ab7fa;
    text-decoration: none;
  }

  
  .content-add h4 {
    padding: 40px;
    font-size: 50px;
    text-align: center;
    color: #fff;
  }
  
  ul#years-content {
    color: #fff;
    list-style: none;
    margin-left: 390px;
    width: 50%;
  }
  
  i.bi.bi-check-circle {
    padding-right: 10px;
  }
  
  li#years-content-text {
    font-size: 20px;
    padding: 20px;
    width: 100%;
  }
  
  .content-last {
    height: 1520px;
  }
  
  .content-header {
    text-align: center;
    padding: 30px;
    font-size: 24px;
  }
  
  img.img-fact {
    margin-left: 30px;
    width: 85%;
  }
  
  .col.l-4.item-planet {
    height: 350px;
  }
  
  .number-count {
    margin-top: 30px;
    background-color: antiquewhite;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-left: 24px;
    display: inline-block;
    margin-left: 160px;
    font-size: 28px;
  }
  
  .number-count-fact {
    margin-top: 30px;
    background-color: antiquewhite;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-left: 17px;
    display: inline-block;
    margin-left: 160px;
    font-size: 28px;
  }
  
  h3.grid-title {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
  }
  
  p.text-fact {
    padding: 10px;
    text-align: center;
  }
  
  .icon-web {
    font-size: 25px;
    text-align: center;
    padding: 15px 0;
  }
  
  img#img-footer {
    width: 100%;
  }
  
  .grid.wide.footer-contentWeb {
    color: white;
    margin-top: -600px;
  }
  
  .footer {
    width: 100%;
    height: 900px;
    background-color: #000;
  }
  .footer-title {
    padding-top: 5rem;
    margin-bottom: 5rem;
  }
  .footer-title__contact {
    color: #0ab7fa;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }
  .footer-contact {
    width: 100%;
    height: 300px;
    background-color: #fff;
    margin-bottom: 5rem;
  }
  .footer-contact__form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .footer-contact__box {
    border: 0;
    margin: 8px 0;
    padding: 1rem;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;
  }
  .footer-contact__2 {
    width: 100%;
    height: 450px;
    position: relative;
    margin-top: 5rem;
  }
  .footer-form {
    position: absolute;
    top: -5%;
    right: 60px;
    width: 40%;
    height: 100%;
    background-color: #fff;
    transform: translateX(-60px);
    box-shadow: 3px 3px 12px #242424;
  }
  .footer-form__box-2 {
    border: 0;
    margin: 8px 0;
    padding: 1rem;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;
  }
  .footer-form__click {
    width: 10rem;
    height: 3rem;
    background-color: #0ab7fa;
    color: #fff;
    border: none;
    border-radius: 3rem;
    margin: 0 auto;
  }
  .footer-form__box-message {
    outline: none;
    margin: 8px 0;
    padding: 1rem;
    width: 100%;
    height: 10rem;
    margin-bottom: 2rem;
  }
  .footer__feedback-text {
    font-size: 2rem;
    font-weight: 400;
    color: #0ab7fa;
  }
  .footer__form-2 {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .footer-map {
    width: 100%;
    height: 400px;
  }
  .footer-map__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: right;
  }
  
  .contact-about {
    width: 100%;
    color: #fff;
    margin-top: 5rem;
    background-color: black;
  }
  .contact-about__title {
    font-weight: 600;
    position: relative;
  }
  .contact-about__title::before {
    content: "";
    position: absolute;
  }
  .contact-about__icon {
    display: flex;
    flex-direction: row;
  }
  .contact-about__social {
    color: #fff;
    font-size: 3rem;
    margin-right: 2rem;
  }
  .contact-about__flower-text {
    position: relative;
    padding-left: 3rem;
    margin-left: -4rem;
  }
  .contact-about__flower-text::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 5px;
    background-color: #0ab7fa;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  /* Mobile: width < 740px */
  @media only screen and (max-width: 1023px) {
    .astronomy-home {
    height: 3400px;
  }
  i#icon-mobile {
    font-size: 3rem;
    position: absolute;
    color: #fff;
    display: block;
    right: 10%;
    top: 20%;
    transform: translate(-10%, -20%);
    padding: 0.5rem;
  }
  #logo_img {
    position: relative;
    margin-left: 1rem;
    height: 40px;
    width: 120px;
    margin-top: 0px;
    margin-top: 1.2rem;
  }
  ul#nav {
    display: none;
  }
  .header-res {
    display: block;
    width: 200px;
  }
  .nav-res__menu {
    margin-bottom: 3rem;
    overflow: scroll;
    margin-left: 2rem;
  }
  .nav-menu__child {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #f2f2f2;
    height: 3rem;
    line-height: 3rem;
  }
  #header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
  }
  #logo_img {
    margin-left: 0;
    position: relative;
  }
  i#icon-mobile {
    font-size: 3rem;
    position: relative;
    color: #fff;
    display: block;
    padding: 0.5rem;
  }
  .content {
    height: 78rem !important;
  }
  .content-add {
    height: 70rem !important;
  }
  i#icon-res {
    display: block;
    position: relative;
  }
  .p#text_planet,
#planet_name,
.planet_info,
.planet_distance {
    display: none;
  }
  .content-img {
    height: 32rem;
  }
  .subnav-res1,
.subnav-res2,
.subnav-res3 {
    padding-left: 2rem;
    display: none;
  }
  .nav-input:checked ~ .header-res {
    transform: translateX(0%);
    top: 0;
  }
  .nav-input:checked ~ .nav-overlay {
    display: block;
  }
  #nav-down1:checked ~ .subnav-res1 {
    display: block;
  }
  #nav-down2:checked ~ .subnav-res2 {
    display: block;
  }
  #nav-down3:checked ~ .subnav-res3 {
    display: block;
  }
  input#nav-down1 {
    display: none;
  }
  input#nav-down2 {
    display: none;
  }
  input#nav-down3 {
    display: none;
  }
  details {
    border: 0.2rem solid #aaa;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
    #img_planet {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 0;
    }
    #planet_name {
      margin-top: -700px;
      padding-left: 90px;
      font-size: 60px;
      color: bisque;
    }
    p#text_planet {
      width: 35%;
      margin-bottom: 30px;
      margin-top: 10px;
      margin-left: -60px;
      line-height: 5px;
      font-size: 20px;
      color: #fff;
    }
    button#btn_planet {
    }
    .planet_info {
    }
  }
  
  /* Tablet: width >= 740px and width < 1024px */
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  }
  /* cua minh */
  .nav-item {
    font-size: 24px !important;
  }
  .minh-text-planet {
    /* width: 75%; */
    font-size: 20px;
  }
  .img-nasa {
    width: 100%;
  }
  .years-content {
    list-style: none !important;
  }
  .bg-black {
    background-color: #000;
  }
  
  .years-content-text {
    font-size: 20px;
    padding: 20px;
    width: 100%;
  }
  .overflow {
    overflow-x: hidden;
    overflow-y: visible;
  }
  .number-bg {
    background-color: antiquewhite;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 40px;
    justify-content: center;
    text-align: center;
  }
  .bg-stary {
    background-image: url(./img/Star.jpg);
  }
  .navigation {
    height: 100px;
  }
  .main-content {
    margin-top: 100px;
  }
  





 






  