html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit';
    font-size: 1.6rem;
    height: 1860px;
}

.home{

}

.navbar{
    width: 100%;
    height: 10rem;
    background-color: black;
}