html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit';
    font-size: 1.6rem;
    height: 1860px;
}

$color-blue: #0ab7fa;
$color-green: #7a7a7a;
$color-white: #fff;
$color-black: #000;
$font-bold-pc: 600;
$font-size-bold: 3rem;

.home{

}

.navbar{
    width: 100%;
    height: 4.4rem;
    background-color: black;
    display: flex;
    color: $color-white;
    align-items: center;

    &__logo{
        width: 10%;
        margin-left: 12rem;
        margin-bottom: 0.5rem;
    }
    
    &-img__logo{
        width: 100%;
    }

    &-live{
        width: 4%;
        margin-left: 2rem;
    }

    &__real{

    }

    &-select{
        display: flex;
        width: 75rem;
        align-items: center;
        justify-content: center;

    }

    &-folder{
        margin-left: 8rem;

        &__text{
            font-size: 2.2rem;
            font-weight: 500;
        }
    }


    &-timelives{
        margin-left: auto;
        margin-right: 12rem;
    }

    
}