html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit';
    font-size: 1.6rem;
    height: 1860px;
}

$color-blue: #0ab7fa;
$color-gray: #7a7a7a;
$color-white: #fff;
$color-black: #000;
$font-bold-pc: 600;
$font-size-bold: 2.2rem;

.astronomy-home{
    &__tabnav{
        width: 100%;
        height: 6rem;
        background-color: #000;
        display: flex;
        position: fixed;
        align-items: center;
        z-index: 5;
        
    }

    &__logo{
        padding-left: 10rem;
        padding-bottom: 1rem;
        object-fit: cover;
        width: 20%;
    }

    &__numberlives{
        color: white;
        font-size: 1.2rem;
        padding-left: 2rem;
        width: 8rem;
    }

    &__tabchild{
        justify-content: space-between;
        margin-left: 5rem;
        margin-right: 4rem;
    }

    &__menuPlanets{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-first{
                opacity: 100;
                visibility: visible;
                display: block;
            }
        }

        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                height: 4px;
                opacity: 1;
                visibility: visible;
                bottom: 0;
                right: 0;
                display: block;
            }
        }
    }

    &__text{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        cursor: pointer;
        position: relative;
        z-index: 2;

        
        &::before{
            content: "";
            position: absolute;
            transition: all 0.5s linear;
            width: 0%;
            height: 4px;
            background-color: $color-blue;
            bottom: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            display: block;
        }
    }
    

    &__menu-first{
        z-index: 2;
        cursor: pointer;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 5rem;
            background-color: transparent;
        }
    }
    
    &__menu-first-Planets{
        width: 180px;
        list-style-type: none;
        background-color: rgb(255, 255, 255);
        box-shadow: rgb(36 36 36) 3px 3px 12px;
        position: absolute;
        top: 5rem;
        left: 0px;
    }
    
    &__menu-item-Planets{
        color: rgb(160, 160, 160);
        border-bottom: 3px solid rgb(160, 160, 160);
        font-size: 2.2rem;
        padding: 1rem 0px 1rem 2rem;
        width: 18rem;
        border-left: 0px solid transparent;
        transition: all 0.25s linear 0s;
        &:hover{
            border-left: 5px solid $color-blue;
            height: 100%;
        }
    }

    &__menuEvents{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-seconds{
                display: block;
                opacity: 100%;
                visibility: visible;
            }
        }
        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                height: 4px;
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }
    }

    &__menu-seconds{
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        z-index: 2;
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 6rem;
            background-color: transparent;
            top: 100%;
            width: 100%;
            right: 0;
        }
    }
    &__menu-seconds-events{
        width: 280px;
        list-style-type: none;
        background-color: rgb(255, 255, 255);
        box-shadow: rgb(36 36 36) 3px 3px 12px;
        position: absolute;
        top: 5rem;
        left: 0px;
    }
    
    &__menu-item-events{
        color: rgb(160, 160, 160);
        border-bottom: 3px solid rgb(160, 160, 160);
        font-size: 2.2rem;
        padding: 1rem 0px 1rem 2rem;
        width: 28rem;
        border-left: 0px solid transparent;
        transition: all 0.25s linear 0s;
        cursor: pointer;
        &:hover{
            border-left: 5px solid $color-blue;
        }
    }

    &__EclipseLink{
        text-decoration: none;
        color: #a0a0a0;
    }
    

    &__bigbangeLink{
        text-decoration: none;
        color: #a0a0a0;
    }

    &__EvolvedLink{
        text-decoration: none;
        color: #a0a0a0;
    }
    &__menuMore{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-three{
                display: block;
                opacity: 100%;
                visibility: visible;
            }
        }

        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                opacity: 1;
                height: 4px;
                visibility: visible;
                display: block;
            }
        }
    }

    &__menu-three{
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        z-index: 2;
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 6rem;
            background-color: transparent;
        }
    }

    &__menu-three-more{
        width: 200px;
        list-style-type: none;
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 12px #242424;
        position: absolute;
        top: 5rem;
        left: 0px;
    }

    &__menu-item-more{
        color: #a0a0a0;
        border-bottom: 3px solid #a0a0a0;
        font-size: 2.2rem;
        padding: 1rem 0px 1rem 2rem;
        width: 20rem;
        border-left: 0px solid transparent;
        transition: all 0.25s linear;
        cursor: pointer;
        &:hover{
            border-left: 5px solid $color-blue;
        }
    }

    &__menuAbout{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-four{
                display: block;
                opacity: 100;
                visibility: visible;
            }
        }
        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                height: 4px;
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }
    }

    &__menu-four{
        z-index: 2;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 6rem;
            background-color: transparent;
        }
    }
    
    &__menu-four-about{
        position: absolute;
        list-style-type: none;
        background-color: rgba(255, 255, 255);
        box-shadow: 3px 3px 12px #242424;
        position: absolute;
        top: 8rem;
        right: 0;
    }

    &__menu-item-about{
        color: #a0a0a0;
        background-color: white;
        list-style-type: none;
        border-bottom: 2px solid #a0a0a0;
        font-size: 2.5rem;
        border-left: 5px solid transparent;
        transition: all 0.25s linear;
        padding: 1rem 0 1rem 3rem;
        width: 20rem;
        cursor: pointer;
        &:hover{
            border-left: 5px solid $color-blue;
        }
    }

    &__time-lives{
        color: white;
        margin-left: 5rem;
        font-size: 1.6rem;
    }

    &__menu-child{
        display: none;
    }
    
    &__icon-menu{
        color: $color-white;
        font-size: 2rem;
    }

}


//  header-news

.header-news{
    max-width: 2880px;
    height: 600px;
    position: relative;
    &__videogif{
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center;
        z-index: -2;
        overflow: hidden;
    }
    &__child{
        position: absolute;
        top: 2%;
        right: 6%;
        transform: translateY(-2%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 67rem;
    }
    &__childnews{
        position: relative;
        margin-bottom: 2rem;
    }
    &__child-img{
        width: 250px;
        height: 150px;
        object-fit: cover;
    }
    &__child-title{
        position: absolute;
        top: 55%;
        left: 0;
        padding-left: 3rem;
        line-height: 1.1;
        color: white;
        font-size: 2.4rem;
        font-weight: 400;
        transform: translateY(-55%);
        text-shadow: 2px 2px 4px #000000;
    }

    &__child-more{
        color: white;
        font-size: 2rem;
        font-weight: 300;
        font-style: italic;
        position: absolute;
        top: 90%;
        left: 0;
        padding-left: 3rem;
        transform: translateY(-80%);
        text-shadow: 2px 2px 4px #000000;
    }
    
}

.banner-news{
    width: 100%;
    height: 500px;
    position: relative;

    &__videogif{
        width: 100%;
        height: 500px;
        overflow: hidden;
        object-fit: cover;
    }

    &__title{
        font-size: 5rem;
        color: $color-white;
        position: absolute;
        font-weight: 600;
        top: 50%;
        left: 7%;
        width: 40rem;
        transform: translateY(-50%);
    }

    &__title-link{

    }
}







// responsive mobile

@media only screen and (max-width: 46.1875em) {
    .astronomy-home{

        &__tabchild{
            display: none;
        }

        &__logo{
            padding-left: 2rem;
            padding-bottom: 0.5rem;
            width: 35%;
        }

        &__time-lives{
            display: none;
        }

        &__menu-child{
            display: block;
            margin-left: auto;
            margin-right: 2rem;
        }
    }

    .banner-news{
        width: 100%;
        height: 300px;
    
        &__videogif{
            width: 100%;
            height: 300px;
            overflow: hidden;
            object-fit: cover;
        }

        &__title-link{
            font-size: 6rem;
            margin-left: 11rem;
            color: white;
            position: absolute;
            top: 85%;
            padding: 2rem 2rem;
            transform: translateY(-85%);
            background-color: rgba(0, 0, 0, 0.5);
            text-decoration: none;
        }
    }
}