html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit';
    font-size: 1.6rem;
    height: 1860px;
}

$color-blue: #0ab7fa;
$color-gray: #7a7a7a;
$color-white: #fff;
$color-black: #000;
$font-bold-pc: 600;
$font-size-bold: 2.2rem;

#progress {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 2rem;
    width: 60px;
    z-index: 100;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  #progress-value {
    display: block;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #001a2e;
  }
  
  #header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    background-color: black;
  }
  
  i#icon-mobile {
    display: none;
  }
  
  #logo_img {
    position: absolute;
    margin-left: 20px;
  }
  
  #nav,
  .subnav {
    list-style-type: none;
  }
  
  ul#nav {
    position: absolute;
    margin-left: 300px;
    margin-top: 0px;
  }
  
  #nav > li {
    display: inline-block;
  }
  
  #nav li {
    position: relative;
  }
  
  #nav > li > a {
    color: #fff;
    text-transform: uppercase;
  }
  
  #nav li a {
    text-decoration: none;
    line-height: 74px;
    padding: 0px 65px;
    font-size: 24px !important;
    display: block;
  }
  
  #nav li:hover .subnav {
    display: block;
  }
  
  #nav li:hover .subnav {
  }
  
  #nav .subnav li:hover a,
  #nav > li:hover > a {
    color: #000;
    background-color: rgb(207, 207, 207);
  }
  
  #nav .subnav {
    text-align: center;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  #nav .subnav a {
    color: #000;
    padding: 0 40px;
    line-height: 50px;
  }
  
  .slider {
    height: 850px;
  }
  
  #img_planet {
    width: 100%;
    margin-bottom: -5px;
  }
  
  #planet_name {
    margin-top: -700px;
    padding-left: 90px;
    font-size: 60px;
    color: bisque;
  }
  
  p#text_planet {
    width: 35%;
    margin-bottom: 30px;
    margin-top: 10px;
    line-height: 35px;
    font-size: 20px;
    color: #fff;
  }
  
  #btn_planet a {
    color: #000;
    padding: 0 34px;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
  }
  
  button#btn_planet {
    border-radius: 20px;
  }
  
  .planet_info {
    margin-top: -130px;
    margin-left: 880px;
  }
  
  .planet_info th {
    display: inline-block;
    padding-bottom: 12px;
  }
  
  .planet_info td {
    padding-left: 20px;
    color: #fff;
  }
  
  .planet_distance {
    margin-top: 80px;
    margin-left: 80px;
    color: #fff;
  }
  
  .planet_distance th {
    padding-right: 180px;
    padding-bottom: 20px;
  }
  
  .planet_distance td {
    font-size: 40px;
  }
  
  .planet_distance td small {
    padding-left: 8px;
    font-size: 25px;
  }
  

// banner

.banner-news{
    width: 100%;
    height: 500px;
    position: relative;

    &__videogif{
        width: 100%;
        height: 500px;
        overflow: hidden;
        object-fit: cover;
    }

    &__title{
        font-size: 5rem;
        color: $color-white;
        position: absolute;
        font-weight: 600;
        top: 50%;
        left: 7%;
        width: 40rem;
        transform: translateY(-50%);
    }


    &__title-link{
        font-size: 3rem;
        color: white;
        position: absolute;
        top: 73%;
        left: 19%;
        border-radius: 10rem;
        padding: 2rem 2rem;
        transform: translate(-73%, -19%);
        background-color: rgba(0, 0, 0, 0.5);
        text-decoration: none;

        &:hover{
            background-color: rgba($color-blue, $alpha: 0.5)    ;
        }

    }
    &__All{
        position: absolute;
        top: 50%;
        right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateY(-50%);
        height: 317px;
    }

    &__link{
        width: 200px;
        height: 100px;
        margin-bottom: 2rem;
        position: relative;
    }

    &-img{
        width: 100%;
        height: 100px;
        overflow: hidden;
        object-fit: cover;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            background-color: #000;
        }
    }

    &__post{
        
    }

    &__more{
        position: absolute;
        font-size: 2rem;
        color: white;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        text-shadow: 2px 2px 4px #000000;
    }

    &__more-link{
        position: absolute;
        font-size: 1.4rem;
        color: white;
        top: 90%;
        left: 5%;
        transform: translateY(-90%);
        text-decoration: none;
        text-shadow: 2px 2px 4px #000000;
    }

}

.news-mobile{
    background-color: $color-black;
    width: 100%;
    height: 200px;
    display: none;
    &__link{
        width: 240px;
        height: 100px;
        // margin-top: 2rem;
        position: relative;
    }


    &__row{
        margin-left: 4px;
        margin-right: 4px;

    }

    &_img{
        width: 240px;
        height: 100px;
        overflow: hidden;
        object-fit: cover;
   
    }

    &__more{
        position: absolute;
        font-size: 2rem;
        color: white;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        text-shadow: 2px 2px 4px #000000;
    }

    &__more-link{
        position: absolute;
        font-size: 1.4rem;
        color: white;
        top: 90%;
        left: 5%;
        transform: translateY(-90%);
        text-decoration: none;
        text-shadow: 2px 2px 4px #000000;
    }
}

.body{
    width: 100%;
    height: 800px;
    background-color: $color-black;
    
    &-post__caption{
        padding-top: 8rem;
    }

    &-caption__post{
        color: $color-white;
        font-size: 3rem;
        font-weight: 400;
        margin-left: 10rem;
        position: relative;
        padding-left: 6rem;

        &::before{
            content: "";
            position: absolute;
            width: 4rem;
            height: 5px;
            background-color: $color-blue;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    &__post-1{
        max-width: 500px;
    }

    &-post__title{
        color: $color-white;
        font-size: 7rem;
        font-weight: 500;
        line-height: 1.1;
        text-transform: uppercase;
        margin-bottom: 2rem;
        width: 700px;
    }


    &-post__desc{
        color: $color-white;
        font-weight: 300;
        width: 58rem;
        font-size: 2rem;
    }

    &-post__button{
        margin-top: 2rem;
        border-radius: 4rem;
        width: 18rem;
        height: 6rem;
        background-color: transparent;
        border: transparent;
        &:hover{
            .body-button__link:before{
                background-color: $color-blue;
                width: 100%;
                overflow: hidden;
                border-radius: inherit;
            }
        }
    }

    &-button__link{
        width: 18rem;
        height: 6rem;
        background-color: $color-gray;
        font-size: 2.6rem;
        color: white;
        text-decoration: none;
        border-radius: 4rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
        z-index: 1;
        display: block;
        overflow: hidden;

        &:before{
            content: "";
            width: 18rem;
            height: 6rem;
            position: absolute;
            width: 0%;
            height: 100%;
            background-color: $color-gray;
            overflow: hidden;
            top: 0;
            left: 0;
            border-radius: 4rem;
            z-index: -1;
            transition: all 0.2s ease-out;
        }
    }

    &-buttom__explore{
        padding-top: 1rem;
    }

    &__gif-1{
        width: 500px;
        
    }

    &-post__gift-1{
        width: 100%;
        border-radius: 5rem;
        overflow: hidden;
        // margin-left: 4rem;
    }
}




// responsive mobile

@media only screen and (max-width: 46.1875em) {
    .astronomy-home{

        &__tabchild{
            display: none;
        }

        &__logo{
            padding-left: 2rem;
            padding-bottom: 0.5rem;
            width: 35%;
        }

        &__time-lives{
            display: none;
        }

        &__menu-child{
            display: block;
            margin-left: auto;
            margin-right: 2rem;
        }
    }

    .banner-news{
        width: 100%;
        height: 180px;
        transform: translateY(4rem);
    
        &__videogif{
            width: 100%;
            height: 180px;
            overflow: hidden;
            object-fit: cover;
        }

        &__title{
            font-size: 2.2rem;
            width: 20rem;
        }

        &__title-link{
            font-size: 1.4rem;
            top: 87%;
            left: 5%;
            border-radius: 10rem;
            padding: 1rem 1rem;
            transform: translate(5%, -87%);
    
            &:hover{
                background-color: rgba($color-blue, $alpha: 0.5)    ;
            }
        }

        &__All{
            display: none;
        }
    }

    .news-mobile{
        width: 100%;
        height: 420px;
        background-color: $color-black;
        display: block;
        &__link{
            width: 240px;
            height: 100px;
            transform: translateY(4rem);
            position: relative;
            margin-top: 2rem;
        }
    }
}