html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit';
    font-size: 1.6rem;
    height: 1860px;
}

$color-blue: #0ab7fa;
$color-gray: #7a7a7a;
$color-white: #fff;
$color-black: #000;
$font-bold-pc: 600;
$font-size-bold: 2.2rem;

.astronomy-home{
    &__tabnav{
        width: 100%;
        height: 6rem;
        background-color: #000;
        display: flex;
        position: fixed;
        align-items: center;
        z-index: 5;
        
    }

    &__logo{
        padding-left: 10rem;
        padding-bottom: 1rem;
        object-fit: cover;
        width: 20%;
    }

    &__numberlives{
        color: white;
        font-size: 1.2rem;
        padding-left: 2rem;
        width: 8rem;
    }

    &__tabchild{
        justify-content: space-between;
        margin-left: 5rem;
        margin-right: 4rem;
    }

    &__menuPlanets{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-first{
                opacity: 100;
                visibility: visible;
                display: block;
            }
        }

        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                height: 4px;
                opacity: 1;
                visibility: visible;
                bottom: 0;
                right: 0;
                display: block;
            }
        }
    }

    &__text{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        cursor: pointer;
        position: relative;
        z-index: 2;

        
        &::before{
            content: "";
            position: absolute;
            transition: all 0.5s linear;
            width: 0%;
            height: 4px;
            background-color: $color-blue;
            bottom: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            display: block;
        }
    }
    

    &__menu-first{
        z-index: 2;
        cursor: pointer;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 5rem;
            background-color: transparent;
        }
    }
    
    &__menu-first-Planets{
        width: 180px;
        list-style-type: none;
        background-color: rgb(255, 255, 255);
        box-shadow: rgb(36 36 36) 3px 3px 12px;
        position: absolute;
        top: 5rem;
        left: 0px;
    }
    
    &__menu-item-Planets{
        color: rgb(160, 160, 160);
        border-bottom: 3px solid rgb(160, 160, 160);
        font-size: 2.2rem;
        padding: 1rem 0px 1rem 2rem;
        width: 18rem;
        border-left: 0px solid transparent;
        transition: all 0.25s linear 0s;
        &:hover{
            border-left: 5px solid $color-blue;
            height: 100%;
        }
    }

    &__menuEvents{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-seconds{
                display: block;
                opacity: 100%;
                visibility: visible;
            }
        }
        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                height: 4px;
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }
    }

    &__menu-seconds{
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        z-index: 2;
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 6rem;
            background-color: transparent;
            top: 100%;
            width: 100%;
            right: 0;
        }
    }
    &__menu-seconds-events{
        width: 280px;
        list-style-type: none;
        background-color: rgb(255, 255, 255);
        box-shadow: rgb(36 36 36) 3px 3px 12px;
        position: absolute;
        top: 5rem;
        left: 0px;
    }
    
    &__menu-item-events{
        color: rgb(160, 160, 160);
        border-bottom: 3px solid rgb(160, 160, 160);
        font-size: 2.2rem;
        padding: 1rem 0px 1rem 2rem;
        width: 28rem;
        border-left: 0px solid transparent;
        transition: all 0.25s linear 0s;
        cursor: pointer;
        &:hover{
            border-left: 5px solid $color-blue;
        }
    }

    &__EclipseLink{
        text-decoration: none;
        color: #a0a0a0;
    }
    

    &__bigbangeLink{
        text-decoration: none;
        color: #a0a0a0;
    }

    &__EvolvedLink{
        text-decoration: none;
        color: #a0a0a0;
    }
    &__menuMore{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-three{
                display: block;
                opacity: 100%;
                visibility: visible;
            }
        }

        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                opacity: 1;
                height: 4px;
                visibility: visible;
                display: block;
            }
        }
    }

    &__menu-three{
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        z-index: 2;
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 6rem;
            background-color: transparent;
        }
    }

    &__menu-three-more{
        width: 200px;
        list-style-type: none;
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 12px #242424;
        position: absolute;
        top: 5rem;
        left: 0px;
    }

    &__menu-item-more{
        color: #a0a0a0;
        border-bottom: 3px solid #a0a0a0;
        font-size: 2.2rem;
        padding: 1rem 0px 1rem 2rem;
        width: 20rem;
        border-left: 0px solid transparent;
        transition: all 0.25s linear;
        cursor: pointer;
        &:hover{
            border-left: 5px solid $color-blue;
        }
    }

    &__menuAbout{
        position: relative;
        z-index: 2;
        &:hover{
            .astronomy-home__menu-four{
                display: block;
                opacity: 100;
                visibility: visible;
            }
        }
        &:hover{
            .astronomy-home__text::before{
                width: 100%;
                height: 4px;
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }
    }

    &__menu-four{
        z-index: 2;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s linear;
        &:before{
            content: "";
            position: absolute;
            width: 20rem;
            height: 6rem;
            background-color: transparent;
        }
    }
    
    &__menu-four-about{
        position: absolute;
        list-style-type: none;
        background-color: rgba(255, 255, 255);
        box-shadow: 3px 3px 12px #242424;
        position: absolute;
        top: 8rem;
        right: 0;
    }

    &__menu-item-about{
        color: #a0a0a0;
        background-color: white;
        list-style-type: none;
        border-bottom: 2px solid #a0a0a0;
        font-size: 2.5rem;
        border-left: 5px solid transparent;
        transition: all 0.25s linear;
        padding: 1rem 0 1rem 3rem;
        width: 20rem;
        cursor: pointer;
        &:hover{
            border-left: 5px solid $color-blue;
        }
    }

    &__time-lives{
        color: white;
        margin-left: 5rem;
        font-size: 1.6rem;
    }

    &__menu-child{
        display: none;
    }
    
    &__icon-menu{
        color: $color-white;
        font-size: 2rem;
    }

}

// banner

.banner-news{
    width: 100%;
    height: 500px;
    position: relative;

    &__videogif{
        width: 100%;
        height: 500px;
        overflow: hidden;
        object-fit: cover;
    }

    &__title{
        font-size: 5rem;
        color: $color-white;
        position: absolute;
        font-weight: 600;
        top: 50%;
        left: 7%;
        width: 40rem;
        transform: translateY(-50%);
    }


    &__title-link{
        font-size: 3rem;
        color: white;
        position: absolute;
        top: 73%;
        left: 19%;
        border-radius: 10rem;
        padding: 2rem 2rem;
        transform: translate(-73%, -19%);
        background-color: rgba(0, 0, 0, 0.5);
        text-decoration: none;

        &:hover{
            background-color: rgba($color-blue, $alpha: 0.5)    ;
        }

    }
    &__All{
        position: absolute;
        top: 50%;
        right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateY(-50%);
        height: 317px;
    }

    &__link{
        width: 200px;
        height: 100px;
        margin-bottom: 2rem;
        position: relative;
    }

    &-img{
        width: 100%;
        height: 100px;
        overflow: hidden;
        object-fit: cover;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            background-color: #000;
        }
    }

    &__post{
        
    }

    &__more{
        position: absolute;
        font-size: 2rem;
        color: white;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        text-shadow: 2px 2px 4px #000000;
    }

    &__more-link{
        position: absolute;
        font-size: 1.4rem;
        color: white;
        top: 90%;
        left: 5%;
        transform: translateY(-90%);
        text-decoration: none;
        text-shadow: 2px 2px 4px #000000;
    }

}

.news-mobile{
    background-color: $color-black;
    width: 100%;
    height: 200px;
    display: none;
    &__link{
        width: 240px;
        height: 100px;
        // margin-top: 2rem;
        position: relative;
    }


    &__row{
        margin-left: 4px;
        margin-right: 4px;

    }

    &_img{
        width: 240px;
        height: 100px;
        overflow: hidden;
        object-fit: cover;
   
    }

    &__more{
        position: absolute;
        font-size: 2rem;
        color: white;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        text-shadow: 2px 2px 4px #000000;
    }

    &__more-link{
        position: absolute;
        font-size: 1.4rem;
        color: white;
        top: 90%;
        left: 5%;
        transform: translateY(-90%);
        text-decoration: none;
        text-shadow: 2px 2px 4px #000000;
    }
}

.body{
    width: 100%;
    height: 2000px;
    background-color: $color-black;
    
    &-post__caption{
        padding-top: 8rem;
        margin-bottom: 2rem;
    }

    &-caption__post{
        color: $color-white;
        font-size: 3rem;
        font-weight: 400;
        margin-left: 13.2rem;
        position: relative;
        padding-left: 6rem;

        &::before{
            content: "";
            position: absolute;
            width: 4rem;
            height: 5px;
            background-color: $color-blue;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

// post 1

    &__post-1{
        max-width: 500px;
    }

    &-post__title{
        color: $color-white;
        font-size: 7rem;
        font-weight: 500;
        line-height: 1.1;
        text-transform: uppercase;
        margin-bottom: 2rem;
        width: 700px;
    }


    &-post__desc{
        color: $color-white;
        font-weight: 300;
        width: 58rem;
        font-size: 2rem;
    }

    &-post__button{
        margin-top: 2rem;
        border-radius: 4rem;
        background-color: transparent;
        border: transparent;
        &:hover{
            .body-button__link:before{
                background-color: $color-blue;
                width: 100%;
                overflow: hidden;
                border-radius: inherit;
            }
        }
    }

    &-button__link{
        width: 18rem;
        height: 6rem;
        background-color: $color-gray;
        font-size: 2.6rem;
        color: white;
        text-decoration: none;
        border-radius: 4rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
        z-index: 1;
        display: block;
        overflow: hidden;

        &:before{
            content: "";
            width: 18rem;
            height: 6rem;
            position: absolute;
            width: 0%;
            height: 100%;
            background-color: $color-gray;
            overflow: hidden;
            top: 0;
            left: 0;
            border-radius: 4rem;
            z-index: -1;
            transition: all 0.2s ease-out;
        }
    }

    &-buttom__explore{
        padding-top: 1rem;
    }

    &__gif-1{
        width: 500px;
        
    }

    &-post__gift-1{
        width: 100%;
        border-radius: 5rem;
        overflow: hidden;
        // margin-left: 4rem;
    }

    // post 2

    &__post-2{
        max-width: 500px;
    }

    &__gif-2{
        width: 500px;
        
    }

    &-post__gift-2{
        width: 100%;
        border-radius: 5rem;
        overflow: hidden;
        // margin-left: 4rem;
    }
}




// responsive mobile

@media only screen and (max-width: 46.1875em) {
    .astronomy-home{

        &__tabchild{
            display: none;
        }

        &__logo{
            padding-left: 2rem;
            padding-bottom: 0.5rem;
            width: 35%;
        }

        &__time-lives{
            display: none;
        }

        &__menu-child{
            display: block;
            margin-left: auto;
            margin-right: 2rem;
        }
    }

    .banner-news{
        width: 100%;
        height: 180px;
        transform: translateY(4rem);
    
        &__videogif{
            width: 100%;
            height: 180px;
            overflow: hidden;
            object-fit: cover;
        }

        &__title{
            font-size: 2.2rem;
            width: 20rem;
        }

        &__title-link{
            font-size: 1.4rem;
            top: 87%;
            left: 5%;
            border-radius: 10rem;
            padding: 1rem 1rem;
            transform: translate(5%, -87%);
    
            &:hover{
                background-color: rgba($color-blue, $alpha: 0.5)    ;
            }
        }

        &__All{
            display: none;
        }
    }

    .news-mobile{
        width: 100%;
        height: 420px;
        background-color: $color-black;
        display: block;
        &__link{
            width: 240px;
            height: 100px;
            transform: translateY(4rem);
            position: relative;
            margin-top: 2rem;
        }
    }

    .body{


        &-post__caption{
            text-align: center;
        }

        &-caption__post{
            color: #fff;
            font-size: 2rem;
            font-weight: 400;
            position: relative;
            padding-left: 4rem;
            margin-left: 0;
    
            &::before{
                width: 3rem;
                height: 4px;
            
            }
        }
        
        
        &-row_post{
            flex-direction: column-reverse;
            margin-top: 2rem;
            justify-content: center;
            align-items: center;
        }

        &-post__title{
            margin-top: 2rem;
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: 2rem;
            width: 300px;
            text-align: center;
        }

        &-post__desc{
            font-size: 1.4rem;
            text-align: center;
            width: 300px;
        
        }


        &-post__button{
            margin-top: 1rem;
        }

        &-button__link{
            width: 10rem;
            height: 3rem;
            background-color: $color-gray;
            font-size: 1.4rem;
            color: white;
            text-decoration: none;
            border-radius: 4rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            position: relative;
            z-index: 1;
            display: block;
            overflow: hidden;
    
            &:before{
                content: "";
                width: 10rem;
                height: 3rem;
                position: absolute;
                width: 0%;
                height: 100%;
                background-color: $color-gray;
                overflow: hidden;
                top: 0;
                left: 0;
                border-radius: 4rem;
                z-index: -1;
                transition: all 0.2s ease-out;
            }
        }
    
        &-buttom__explore{
            padding-top: 0.5rem;
        }

        &__gif-1{
            width: 300px;
            
        }
    
        &-post__gift-1{
            width: 100%;
            border-radius: 5rem;
            overflow: hidden;
            // margin-left: 4rem;
        }
    
    }
    


}