html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit';
    font-size: 1.6rem;
    height: 1860px;
}

$color-blue: #0ab7fa;
$color-green: #7a7a7a;
$color-white: #fff;
$color-black: #000;

.home{

}

.navbar{
    width: 100%;
    height: 4.4rem;
    background-color: black;
    display: flex;
    color: $color-white;

    &__logo{
        width: 15%;
    }
    
}